.Transactions-table {
  border-collapse: collapse;
  width: 100%;
}

.Transactions-title {
  color: white;
  background-color: slategray;
  font-size: calc(8px + 2vmin);
}

.Transactions-title.TransactionRow #id, #date, #type, #total {
  text-align: left;
}

.TransactionRow #type {
  text-transform: capitalize;
}

.TransactionRow {
  border-bottom: 1px solid slategray;
  width: 100%;
}

.TransactionRow td {
  padding: .5rem;
}

.DetailsButton-link {
  color: white;
  text-decoration: none;
}