.TransactionDetails {
  border-collapse: collapse;
  margin: auto;
  text-align: center;
  max-width: 50%;
  min-width: 20vw;
}

.TransactionDetails-body {
  margin-bottom: 1rem;
  border-bottom: 1px solid slategray;
}

.TransactionDetails .title {
  color: white;
  background-color: slategray;
  font-size: calc(8px + 2vmin);
  text-align: center;
}

.TransactionDetails-button {
  margin: .5rem;
}

.TransactionDetails Button {
  margin: .5rem;
}

#action {
  text-transform: capitalize;
}