.NavBar {
  justify-content: space-evenly;
  padding: 1rem 0;
  color: white;
}

.NavBar-icon {
  height: 4vh;
}

.NavBar a.active {
  color: white;
}

.NavBar-link {
  text-decoration: none;
  color: lightsteelblue;
}

.NavBar-link:hover {
  text-decoration: underline;
}