.Admin-tab {
  text-transform: capitalize;
  background-color: #455169;
  color: white;
}

.Admin-title {
  font-size: calc(8px + 2vmin);
  background-color: #455169;
  justify-content:space-evenly;
}

.Admin-title a.active {
  text-decoration: underline;
}

.Admin-link {
  text-decoration: none;
  color: white;
}

.Admin-link:hover {
  color: slategray;
}

.UpdateButton-link {
  color: white;
  text-decoration: none;
}