.Admin-table {
  border-collapse: collapse;
  width: 80vw;
}

.Admin-title {
  font-size: calc(8px + 2vmin);
  background-color: #455169;
  justify-content:space-evenly;
}

.Admin-link {
  text-decoration: none;
  color: white;
}

.Admin-link:hover {
  color: slategray;
}