.Users-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.UserItem {
  border-bottom: 1px solid slategray;
}

.UserItem td {
  padding: .5rem;
}

.Users-title {
  color: white;
  background-color: slategray;
  font-size: calc(8px + 2vmin);
}

.Users-id {
  width: 5vw;
}

.Users-user {
  width: 22vw;
}

.Users-balance {
  width: 10vw;
}

.Users-created {
  width: 15vw;
}

.UserItem {
  font-size: calc(7px + 1.75vmin);
}

.UserItem-user {
  display: flex;
  width: 8rem;
}

.UserItem-profileImg {
  height: 50px;
}

.UserItem-username {
  padding: 0 1rem;
}