.Users-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.UserItem {
  border-bottom: 1px solid slategray;
}

.UserItem td {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.Users-title {
  color: white;
  background-color: slategray;
  font-size: calc(8px + 2vmin);
}

.Users-id {
  width: 5vw;
}

.Users-user {
  width: 22vw;
}

.Users-balance {
  width: 10vw;
}

.Users-active {
  width: 15vw;
}

.Users-created {
  width: 15vw;
}

.UserItem {
  font-size: calc(7px + 1.75vmin);
}

.UserItem-user {
  display: flex;
}

.UserItem-profileImg {
  height: 50px;
  max-width: 50px;
  object-fit: contain;
}

.UserItem-username {
  padding-left: .5rem;
  margin: auto;
  margin-left: 0;
  text-align: left;
}