.User-profilebar {
  display: inline-flex;
}

.User-image {
  border-radius:50%;
  height: 250px;
}

.User-name {
  margin: 0;
  padding: 1rem 1rem 0;
}

.User-sections h3 {
  display: block;
  font-size: calc(8px + 2vmin);
  font-weight: normal;
  color: white;
  background-color: #455169;
}

.User-inventory {
  display: flex;
  flex-wrap: wrap;
}