.RegisterForm {
  padding: .5rem;
}

.RegisterForm-label {
  font-size: 1rem;
  text-align: center;
}

.RegisterForm-input {
  font-size: 1rem;
  padding: .25rem;
  text-align: left;
}

.RegisterForm-button {
  margin: 1rem 0;
}